#controlWrap{
	background:#f1f1f1;
	border:1px solid #f1f1f1;
}

.cButton{
	border:2px solid #CF000F;
	background: #fff;
	font-size: 20px;
	margin:-4px;
}

#answerWrap{
	margin-left: 40px;
	display: inline-block;
	border:0px solid #fff;
	margin-top:5px;
}

.answerNum{
	display: inline-block;
	padding:0px 10px;
	border:0px solid #fff;
	font-family: Overpass;
	font-size:40px;
	font-weight: 300;
	margin:0px;
	color: #fff;
	border-radius: 5px;
	background:#333;
	box-shadow: 0px 0px 0px rgba(0,0,0,.5), -4px -7px 15px rgba(0,0,0,.3) inset, 4px 7px 10px rgba(255, 255, 255, .1) inset;
	width: 24px;
	text-align: center;

}


.noB{
	border:0px;
	padding:0px 0px;
	background:transparent;
	color:#fff;
	box-shadow: 0px 0px 0px;
	width:10px;
}

.answerNum:first-child{
	margin-left:0px;
}