body{
	padding:0px;
	padding-top: 10%;
	height: 80%;
}

#jqWrap{
	width:250px;
	padding:20px 40px 30px;
	margin:0px auto;
	background: rgba(0,0,0,.5);
	border:0px;
	border-radius: 10px;
	box-shadow: 0px 0px 50px rgba(0,0,0,.6);
}

#logo{
	width: 110px;
	float: left;
	margin-top: 25px;

}

#jqWrap h4{
	font-size: 23px;
	font-weight: 100;
	text-align: right;
	color: #fff;
}

.jqLabel{
	display: block;
	font-weight: 500;
	font-size: 13px;
	color:rgba(255,255,255,.7);
	cursor:pointer;
}

.jqInput{
	width: 250px;
	box-sizing:border-box;
	padding:10px 15px;
	background:#333;
	border:1px solid #333;
	transition:.1s all;
	margin-bottom: 15px;
	font-size: 20px;
	color: #e1e1e1;
	font-weight: 100;
}

.jqInput:hover{
	background:#444;
	border: 1px solid #444;
}
.jqInput:focus{
	outline:0px;
	border:1px solid #e1e1e1;
}


#jqJoin{
	margin:auto;
	display: inline-block;
	padding:10px 30px;
	background: #F76116;
	color:#fff;
	font-family: overpass;
	font-weight: 500;
	border-radius: 10px;
	border: 0px solid #fff;
	border-bottom: 3px solid #BB3B08;
	font-size: 20px;
	box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
	-webkit-appearance: none;
	outline:0px;
	transition:.2s all;
	text-decoration: none;
	margin-top: 10px;
}

#jqJoin:hover{
	background: #F77C27;
	cursor:pointer;
	box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.3);
}
#jqJoin:active{
	background:#F79B00;
}




#footer{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom:5px;
	text-align: center;
	color: #fff;
}
