body{
	padding:0px;
	padding-top: 10%;
	height: 90%;

		background: #3b9c99; /* Old browsers */
		background: -moz-linear-gradient(to bottom,  #3b9c99 0%, #c4ffc8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(to bottom,  #3b9c99 0%,#c4ffc8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #3b9c99 0%,#c4ffc8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b9c99', endColorstr='#c4ffc8',GradientType=0 ); /* IE6-9 */

}

#jqWrap{
	width:250px;
	padding:20px 40px 30px;
	margin:0px auto;
	border:0px;
}

#logo{
	width: 110px;
	float: left;
	margin-top: 25px;

}





#footer{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom:5px;
	text-align: center;
	color: rgba(255,255,255,0.5);
}
