body{
	padding:0px;
	padding-top: 10%;
	height: 80%;
	background:-webkit-linear-gradient(top, #3B9C99 , #C4FFC8);
	background:linear-gradient(top, #3B9C99 , #C4FFC8);
}

#jqWrap{
	width:250px;
	padding:20px 40px 30px;
	margin:0px auto;
	border:0px;
}

#logo{
	width: 110px;
	float: left;
	margin-top: 25px;

}





#footer{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom:5px;
	text-align: center;
	color: rgba(255,255,255,0.5);
}
