#saoTable{
	box-sizing: border-box;
	padding:10px;

}

.saoItem{
	border-bottom: 3px solid rgba(0, 0, 0, 0.12);
	text-align: left;
}

.saoItem:nth-child(1) .saoName{
	font-size: 20px;
	font-weight: normal;
}
.saoItem:nth-child(2) .saoName{
	font-size: 20px;
	font-weight: normal;
}
.saoItem:nth-child(3) .saoName{
	font-size: 20px;
	font-weight: normal;
}

.saoItem:nth-child(1) .saoNumber{
	color:#fff;
	background:#FEB41A;
}
.saoItem:nth-child(2) .saoNumber{
	color:#fff;
	background:#BCBCBA;
}
.saoItem:nth-child(3) .saoNumber{
	color:#fff;
	background:#BF6726;
}

.saoItem:last-child{
	border-bottom: 0px solid #999;
}


.saoNumber{
	font-size: 25px;
	font-weight: bold;
	color:#999;
	box-sizing: border-box;
	padding:10px 10px;
	display:inline-block;
	width: 50px;
	text-align: center;
}

.saoName{
	font-size: 18px;
	font-weight: 300;
	color:#333;
	box-sizing: border-box;
	padding:5px 10px;
	display:inline-block;
	width: calc(100% - 160px);
	text-align: left;
}

.saoAve{
	font-size: 18px;
	font-weight: bold;
	color:#333;
	box-sizing: border-box;
	padding:5px 5px;
	display:inline-block;
	width: 90px;
	text-align: center;
}